<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>联系我们</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	 	<script src=" http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	 	<link href="/css/bootstrap.min.css" rel="stylesheet">
    	<link href="/css/style.css" rel="stylesheet">
    	<link href="/css/button.css" rel="stylesheet">
    	<link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
	    <script type="text/javascript" src="/js/jqthumb.min.js"></script>
	    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 自动推送到百度的代码 -->
    <script>
	(function(){
	    var bp = document.createElement('script');
	    var curProtocol = window.location.protocol.split(':')[0];
	    if (curProtocol === 'https') {
	        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	    }
	    else {
	        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	    }
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
	</script>
	</head>
	<body class="text-center">
		

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<dl>
						<dt>
							方式1：微信搜索“普格娱乐”公众号并关注
						</dt>
						<dd>
							<img alt="Bootstrap Image Preview" src="/img/wechat/IMG_1443(20190620-100445).jpg" style="width: 23rem;height: 40rem"/>
						</dd>
						<dd>
							在输入框中输入你想咨询（反馈的信息），客服会在24小时内处理您的留言并回复
						</dd>
						<dt>
							方式2：邮箱
						</dt>
						<dd>
							您也可以发送邮件至     likun@pergirls.com 进行问题咨询和反馈。
						</dd>
						
						
					</dl>
				</div>
			</div>
		</div>
		
		
	
	

	</body>

</html>