<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>点播及充值方法</title>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="/img/wechat/FullSizeRender(4).jpg" />
		</div>
		
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="/img/wechat/FullSizeRender(3).jpg" />
		</div>
		
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="/img/wechat/FullSizeRender(2).jpg" />
		</div>
		
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="/img/wechat/FullSizeRender(1).jpg" />
		</div>
		
	</div>
</div>
</body>
</html>