<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
    .div-inline{ display:inline} 、
    </style>
    </head>
<div class="container-fluid" th:fragment="footer">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
				
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<center style="margin-top: 0px">
							<h2>
							
								<a href="/contact"><font size="3">联系我们</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact"><font size="3">问题反馈</font></a>
							 
							</h2>
						</center>
						
						<hr />
						<p>
						</p>
						<p></p>
					<center>
						
						  <div class="row">
						    <div class="col-sm-4">
						     	©2019 上海坤尧科技有限公司. All rights reserved.
						    </div>
						    <div class="col-sm-4">
						 		<a href="http://www.beian.miit.gov.cn">沪ICP备19004661号</a> 
						    </div>
						    <div class="col-sm-4">
						       	  微信公众号“普格娱乐”
						    </div>
						  </div>
						
					</center>
					</p>
					 
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</html>