<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
    .div-inline{ display:inline} 、
    </style>
    </head>
<div class="container-fluid" th:fragment="footer">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
				
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<center style="margin-top: 0px">
							<h2>
								<a><font size="5">联系我们</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">问题反馈</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">高清图片</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">性感街拍</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">打赏我们</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">留言我们</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a><font size="5">会员中心</font></a>
							</h2>
						</center>
						<hr />
						<p>
						</p>
						<p></p>
					<center>
						
						  <div class="row">
						    <div class="col-sm-4">
						      <div style="display:inline-block;"><img alt=""  style="width: 60px;height: 80px" src=""></div><div style="display:inline-block;margin-left:10px;"><font size="5">合作交流QQ群</font><br><font size="5"><img style="width: 60%;height: 60%;" alt="" src="/img/普格娱乐1群群二维码.png"></font></div>
						    </div>
						    <div class="col-sm-4">
						    <div style="display:inline-block;"><img alt=""  style="width: 90px;height: 60px" src="/img/lightblue.ico"></div><div style="display:inline-block;margin-left:10px;"><font size="5">电子邮箱</font><br><font size="5">1144954876@qq.com</font></div>
						    </div>
						    <div class="col-sm-4">
						      	<div style="display:inline-block;"><img alt=""  style="width: 90px;height: 60px" src="/img/0945371.ico"></div><div style="display:inline-block;margin-left:10px;"><font size="5">特别感谢</font><br><font size="5">所有拍摄视频的粉丝以及支持和帮助我们的朋友</font></div>
						    </div>
						  </div>
						
					</center>
					</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</html>