<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <title>Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"> 

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/slick-carousel/slick.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/fonts/themify-icons.css">
	<link href="assets/vendors/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/hovereffects.css"> 
    <!-- Theme Styles --> 
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <!-- End Head -->

  <body>
    <!-- Header -->
    <header>
      <!-- Navbar --> 
	  <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" id="mainNav">
		<div class="container">
		  <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Gym Plus</a> -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-menu text-primary"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#top">首页</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#about">关于我们</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#skills">服务方向</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#experience">成长历程</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#portfolio">解决方案</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#contact">联系我们</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
      <!-- End Navbar --> 
		<section class="wt-section mt-5 mt-md-5 pb-0 pt-5 pt-md-4" id="top"> 
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-5 text-right" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="50">
						<!-- heading -->
						<h1 class="text-uppercase mb-md-3 display-4 font-weight-bolder">
							坤尧科技 
						</h1>
						<p class="h5">IT综合服务供应商</p> 
					</div>
					<div class="col-md-7" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="50">
					<img src="/assets/img/intro/img2.png" class="w-100" alt="" />
					</div>
				</div>
			</div>
		</section>

    </header>
    <!-- End Header -->

    <main role="main">
	<div class="card bg-primary border-0 rounded-0 p-5">
    <div class="container">
        <div class="row justify-content-between align-items-center text-center text-md-left">
            <div class="col-md-8">
                <h5 class="mb-1 text-white d-inline-block border-right border-sm-right-0 pr-md-4 mr-md-4">kunyaotech</h5>
                <p class="mb-0 text-white d-inline-block">service customers wholeheartedly</p>
            </div>
            <div class="col-md-4 text-lg-right mt-md-0 mt-3">
                <a href="#" class="btn btn-pill btn-outline-light">客户服务</a>
            </div>
        </div>
    </div>
</div>

  <section class="wt-section pb-0" id="about">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="100">
		  <div class="col-md-5">
                <img src="/assets/img/about/1.svg" class="w-75" alt="">
            </div>
            <div class="col-md-7"> 
                <h2 class="mb-4">坤尧简介</h2>
                <p class="text-muted">10年技术沉淀,服务客户超1000+,为企业及中小个体提供全方位，跨平台的一站式开发服务与解决方案</p>
            </div>
          
        </div>
    </div>
</section> 

  <section class="wt-section">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="100">
            <div class="col-md-7"> 
                <h2 class="mb-4">服务内容</h2>
                <p class="text-muted">我们拥有国内一流的开发队伍,为客户提供企业门户,电子商务(商城),各类型app,微信公众平台的定制开发及运维,具有包括但不限于仓储物流，进销存，酒店管理，养老服务，政务平台，金融系统，医疗保健的行业经验</p>
            </div>
          
		  <div class="col-md-5">
                <img src="/assets/img/about/2.svg" class="w-75" alt="">
            </div>
        </div>
    </div>
</section> 
	<section class="wt-section bg-light" id="skills">
        <div class="container">
		<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
            <h2 class="mb-md-2">服务方向</h2>
            <p class="lead text-muted">全方位综合it服务</p>
          </div>
		</div>
          <!-- Feature Blocks -->
          <div class="row">  
			<div class="col-md-4">
                <div class="bg-white p-5 mb-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="50">
						<i class="ti-cloud-down d-block display-4 text-primary mb-4"></i> 
                        <h6 class="mb-2">DevOps</h6>
                        <p class="text-muted">各类型门户网站/手机app安卓和ios系统)应用开发</p> 
                </div>
            </div>
					<div class="col-md-4">
                <div class="bg-white p-5 mb-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="150">
                      <i class="ti-crown d-block display-4 text-primary mb-4"></i> 
                        <h6 class="mb-2">FullStack</h6>
                        <p class="text-muted">微信公众平台相关开发服务，企业it人力资源服务</p> 
                </div>
            </div>
			
			<div class="col-md-4">
                <div class="bg-white p-5 mb-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="250">
						<i class="ti-bar-chart-alt display-4 d-block text-primary mb-4"></i> 
                        <h6 class="mb-2">Web Developer</h6>
                        <p class="text-muted">基于B/S架构的各行业多种类型管理系统</p> 
                </div>
            </div>
          </div>
          <!-- End Feature Blocks -->  
        </div>
      </section>
	  
	    <section class="wt-section" id="experience">
    <div class="container">
	<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
            <h2 class="mb-md-2">成长历程</h2>
            <p class="lead text-muted">追求卓越，客户至上，从未停步</p>
          </div>
		</div>
        <div class="row justify-content-between align-items-center">
		  <div class="col-md-4" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="100">
                <img src="/assets/img/about/3.svg" class="w-75" alt="">
            </div>
            <div class="col-md-7">  
			<ul class="timeline" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="100">
				<li>  
					<h5>东软坤尧</h5>
					<strong>北京</strong> - <i>2004/05/21</i> 
					<p class="text-muted d-block mt-3">2004年东软全资子公司东软坤尧在北京成立</p>
				</li>
					<li>  
					<h5>杭州坤尧</h5>
					<strong>杭州</strong> - <i>2014/12/05</i> 
					<p class="text-muted d-block mt-3">2014年东软全资子公司东软坤尧在杭州分公司成立</p>
				</li>
					<li>  
					<h5>上海坤尧</h5>
					<strong>上海</strong> - <i>2019/01/29</i> 
					<p class="text-muted d-block mt-3">2019年上海坤尧科技成立,定位华南市场,打造独立品牌</p>
				</li>
			</ul>
            </div>
          
        </div>
    </div>
</section> 

<section class="wt-section bg-light" id="portfolio"> 
 <div class="container">
        <div class="row justify-content-md-center text-center pb-lg-5">
            <div class="col-md-12">
                <h2 class="h1">坤尧科技</h2>
                <p>热门产品及解决方案</p>
            </div>
        </div>
         <div class="portfolio-menu mt-2 mb-4 pb-3">
            <ul>
               <li class="btn mr-2 active" data-filter="*">所有</li>
               <li class="btn mr-2 " data-filter=".gts">网站建设</li>
               <li class="btn mr-2 " data-filter=".lap">公众平台及app</li>
               <li class="btn " data-filter=".selfie">企业B/S架构管理系统</li>
            </ul>
         </div>
         <div class="portfolio-item row" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
            <div class="item gts col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img1.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img1.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
			    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img2.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img2.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item lap col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img3.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img3.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div>
				    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img4.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img4.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item lap col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img5.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img5.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item gts col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img6.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img6.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item gts col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img7.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img7.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="/assets/img/portfolio/img8.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="/assets/img/portfolio/img8.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div>   
         </div>
      </div>
</section>	

      <!-- Clients Section -->
      <section class="wt-section">
        <div class="container">
      	<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
            <h2 class="mb-md-2">客户案例</h2>
            <p class="lead text-muted">诚信创造发展，合作获得共赢</p>
          </div>
		</div>
          <div class="js-clients wt-clients mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img1.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img2.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img3.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img4.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img5.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img6.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img7.png" alt="Image Description">
            </div>
            <div>
              <img class="wt-clients__image" src="/assets/img/clients/img8.png" alt="Image Description">
            </div>
          </div>
        </div>
      </section>
	  
<section class="wt-section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5 pb-5">
            <div class="col-md-8">
                <h1 class="mb-md-4">联系我们</h1>
                <p class="lead text-muted"></p> 

                <div class="mt-md-5">
                    <a href="1144954876@qq.com" class="btn btn-primary btn-pill btn-theme">电话/微信15841732448</a>
                    <a href="1144954876@qq.com" class="btn btn-primary btn-pill btn-theme">邮箱1144954876@qq.com</a>
                    <a href="1144954876@qq.com" class="btn btn-primary btn-pill btn-theme">公众平台 <img src="/assets/img/portfolio/kunyaotech.jpg" alt="Image Description"></a>
                </div>
               
            </div>
        </div>
    </div>
</section> 
      <!-- End Clients Section -->
    </main>

    <!-- Footer -->
    <footer class="bg-primary py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
            <small class="text-white">Copyright &copy; 2019.上海坤尧科技 All rights reserved.</small>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Dribbble">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  
    <!-- JS Script Files --> 
    <script src="/assets/vendors/jquery.min.js"></script>
    <script src="/assets/vendors/jquery.migrate.min.js"></script>
    <script src="/assets/vendors/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/jquery-easing/jquery.easing.min.js"></script>
	<script src="/assets/vendors/aos/aos.js"></script>

    <!-- Components Vendor  --> 
    <script src="/assets/vendors/slick-carousel/slick.min.js"></script>
	<script src="/js/isotope.pkgd.js"></script>
    <script src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="/assets/js/scrolling-nav.js"></script>
    <!--Plugin Initialize-->
    <script src="/assets/js/global.js"></script>

    <!-- Theme Components and Settings --> 
    <script src="/assets/vendors/carousel.js"></script>
	
    <!-- END JAVASCRIPTS -->
	
  </body>
  <!-- End Body -->
</html>
