<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>充值记录
    </title>
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
  	<script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxchart.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        	 $.ajaxSetup({
	
	             	async:false

             });
        	 var griddata1=null;
        	 var griddata2=null;
        	 $.ajax({
                    type: "post",
                    url: "/CmsController/queryRechargeRecord",
                    data: {},
                    dataType: "json",
                    success: function(data){
                    	griddata1=data.wechat;
                    	griddata2=data.alipay;
                    }
             });
        	 
        	 
        	 
        	 
             var initGrid = function () {
           	   
                 var source =
                	{
	               		localdata: griddata1,
	                    datatype: "local",
	                    datafields: [
	                         { name: 'id' },
	                         { name: 'outTradeNo' },
	                         { name: 'totalFee' },
	                         { name: 'createTime',type: 'date' },
	                         { name: 'body' },
	                         { name: 'status' },
	                         { name: 'createBy' }
	                        
                     ]
                   
                 };
                 var dataAdapter = new $.jqx.dataAdapter(source);
                 $("#grid").jqxGrid(
                 {
                     width: '100%',
                     height: '100%',
                     source: dataAdapter,
                     columnsresize: true,
                     columns: [
                         { text: 'id', datafield: 'id', width: 50 ,hidden: true},
                         { text: 'outTradeNo', datafield: 'outTradeNo', width: 150 },
                         { text: 'totalFee', datafield: 'totalFee' }, 
                         { text: 'createTime', datafield: 'createTime', width: 150,cellsformat:'yyyy-MM-dd HH:mm:ss'},
                         { text: 'body', datafield: 'body', width: 150 }, 
                         { text: 'createBy', datafield: 'createBy' }
                     ]
                 });
             }
             
             var initGrid2 = function () {
            	
                 var source =
                 {
               		 localdata: griddata2,
                     datatype: "local",
                     datafields: [
                         { name: 'id', type: 'string' },
                         { name: 'user_name', type: 'string' },
                         { name: 'trade_no', type: 'string' },
                         { name: 'notify_time', type: 'date' },
                         { name: 'total_amount', type: 'string' }
                        
                     ]
                 };
                 var dataAdapter = new $.jqx.dataAdapter(source);
                 $("#grid2").jqxGrid(
                 {
                     width: '100%',
                     height: '100%',
                     source: dataAdapter,
                     columnsresize: true,
                     columns: [
                         { text: 'id', datafield: 'id', width: 250 },
                         { text: 'user_name', datafield: 'user_name', width: 150 },
                         { text: 'trade_no', datafield: 'trade_no', width: 180 },
                         { text: 'notify_time', datafield: 'notify_time', width: 120,cellsformat:'yyyy-MM-dd HH:mm:ss'},
                         { text: 'total_amount', datafield: 'total_amount' }
                     ]
                 });
             }
             // init widgets.
             var initWidgets = function (tab) {
                 switch (tab) {
                     case 0:
                         initGrid();
                         break;
                     case 1:
                         initGrid2();
                         break;
                 }
             }
             $('#tabs').jqxTabs({ width: getWidth('Tabs'), height: 560,  initTabContent: initWidgets });
            
             
         });
      	
        	
     
    </script>
</head>
<body class='default'>
    <div id='tabs'>
        <ul>
            <li style="margin-left: 30px;">
              	  微信充值
            </li>
            <li>
                                                         支付宝充值
            </li>
        </ul>
        <div style="overflow: hidden;">
            <div style="border:none;" id="grid">
            </div>
        </div>
        <div style="overflow: hidden;">
            <div style="border:none;" id="grid2"></div>
        </div>
    </div>
</body>
</html>