<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    .wrap {
      width: 20px;
      height: 20px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background: #eee;
    }

    .wrap img {
      max-width: 0%;
      max-height: 0%;
    }
  </style>
</head>

<body>
 
  <div class="wrap">
    <img src="http://t9.baidu.com/it/u=1761131378,1355750940&fm=79&app=86&f=JPEG?w=667&h=1000" alt="" width="10%"/>
  </div>

</body>

</html>