<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .wrap {
      width: 400px;
      height: 400px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background: #eee;
    }

    .wrap img {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>

<body>
  图片大小控制在div范围内
  <div class="wrap">
    <img src="/img/test.jpg" alt="">
  </div>
</body>

</html>