<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>视频管理
    </title>
   
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/scripts/demos.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxinput.js"></script>
    <script type="text/javascript">
   
        $(document).ready(function () {
        	
        	
            // prepare the data
            var data=null
            $.ajaxSetup({

            	async:false

            });
            $.ajax({
                type: "post",
                url: "/queryCoverPhoto",
                data: {},
                dataType: "json",
                success: function(data){
                	//alert(data)
                	var source =
                    {
                        localdata: data,
                        datatype: "local",
                        datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'coverphotoid', type: 'string' },
                            { name: 'create_time', type: 'string' },
                            { name: 'createby', type: 'string' },
                            { name: 'updateby', type: 'string' },
                            { name: 'video_name', type: 'string' },
                            { name: 'flag', type: 'string' },
                            { name: 'baiduyun_address', type: 'string' },
                            { name: 'baiduyun_pass', type: 'string' },
                            { name: 'gold_coin', type: 'string' },
                            { name: 'downloads', type: 'string' },
                            { name: 'category', type: 'string' },
                            { name: 'serial_number', type: 'string' }
                            
                           
                          
                        ],
                        addrow: function (rowid, rowdata, position, commit) {
                            // synchronize with the server - send insert command
                            // call commit with parameter true if the synchronization with the server is successful 
                            //and with parameter false if the synchronization failed.
                            // you can pass additional argument to the commit callback which represents the new ID if it is generated from a DB.
                            commit(true);
                        },
                        deleterow: function (rowid, commit) {
                            // synchronize with the server - send delete command
                            // call commit with parameter true if the synchronization with the server is successful 
                            //and with parameter false if the synchronization failed.
                            commit(true);
                        },
                        updaterow: function (rowid, newdata, commit) {
                            // synchronize with the server - send update command
                            // call commit with parameter true if the synchronization with the server is successful 
                            // and with parameter false if the synchronization failed.
                            commit(true);
                        }
                    };
                    var dataAdapter = new $.jqx.dataAdapter(source);
                    // initialize jqxGrid
                    var cellsrenderer = function (row, column, value) {
                    	
                    	var data = $('#grid').jqxGrid('getrowdata', row);
                		return  '<a href="/thumbnailManage?id='+data.id+'" target="_blank" style="color:black;text-decoration:none;">'+"添加缩略图"+'</a>';
            		}
                    $("#grid").jqxGrid(
                    {
                        width: 1500,
                        height: 550,
                        source: dataAdapter,
                        showtoolbar: true,
                        columnsresize: true,
                        rendertoolbar: function (toolbar) {
                            var me = this;
                            var container = $("<div style='margin: 5px;'></div>");
                            toolbar.append(container);
                            container.append('<input id="addrowbutton" type="button" value="添加视频" />');
                           	container.append('<input style="margin-left: 5px;" id="deleterowbutton" type="button" value="删除视频" />');
                            container.append('<input style="margin-left: 5px;" id="updaterowbutton" type="button" value="更新视频" />');
                            $("#addrowbutton").jqxButton();
                          
                            $("#deleterowbutton").jqxButton();
                            $("#updaterowbutton").jqxButton();
                            // update row.
                            $("#updaterowbutton").on('click', function () {
                                var datarow = generaterow();
                                var selectedrowindex = $("#grid").jqxGrid('getselectedrowindex');
                                var rowscount = $("#grid").jqxGrid('getdatainformation').rowscount;
                                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                                    var id = $("#grid").jqxGrid('getrowid', selectedrowindex);
                                    var commit = $("#grid").jqxGrid('updaterow', id, datarow);
                                    $("#grid").jqxGrid('ensurerowvisible', selectedrowindex);
                                }
                            });
                            // create new row.
                            $("#addrowbutton").on('click', function () {
                                //var datarow = generaterow();
                                //var commit = $("#grid").jqxGrid('addrow', null, datarow);
                               	createWindow();
                                $("#ww").css("display","show");
                                $('#window').jqxWindow('open');
                               
                                
                            });
                          
                            // 删除视频
                            $("#deleterowbutton").on('click', function () {
                                var selectedrowindex = $("#grid").jqxGrid('getselectedrowindex');
                                var rowscount = $("#grid").jqxGrid('getdatainformation').rowscount;
                                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                                    //var id = $("#grid").jqxGrid('getrowid', selectedrowindex);
                                    var data = $('#grid').jqxGrid('getrowdata', selectedrowindex);
                                    var id=data.id;
                                    $.ajaxSetup({

                                     	async:false

                                    });
                                    $.ajax({
                                        type: "post",
                                        url: "delVideo",
                                        data: {id:id},
                                        dataType: "json",
                                        success: function(data){
                                           alert(data.result);
                                           var id = $("#grid").jqxGrid('getrowid', selectedrowindex);
                                           var commit = $("#grid").jqxGrid('deleterow', id);
                                        }
                                    });
                                   
                                }
                            });
                        },
                        columns: [
                          { text: 'id', datafield: 'id', width: 100, hidden: true},
                          { text: 'coverphotoid', datafield: 'coverphotoid', width: 100 },
                          { text: 'video_name', datafield: 'video_name', width: 100},
                          { text: 'baiduyun_address', datafield: 'baiduyun_address', width: 100},
                          { text: 'baiduyun_pass', datafield: 'baiduyun_pass', width: 100},
                          { text: 'create_time', datafield: 'create_time', width: 100},
                          { text: 'gold_coin', datafield: 'gold_coin', width: 100},
                          { text: 'downloads', datafield: 'downloads', width: 100},
                          { text: 'category', datafield: 'category', width: 100},
                          { text: 'serial_number', datafield: 'serial_number', width: 100},
                          { text: 'thumbnail', cellsrenderer:cellsrenderer, width: 100},
                          { text: 'Edit', datafield: 'Edit', columntype: 'button',width: 100, cellsrenderer: function () {
                              return "Edit";
                           }, buttonclick: function (row) {
                              // open the popup window when the user clicks a button.
                              editrow = row;
                              var offset = $("#grid").offset();
                              $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 260, y: parseInt(offset.top) + 60 } });
                              // get the clicked row's data and initialize the input fields.
                              var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                              $("#video_name1").val(dataRecord.video_name);
                              $("#baiduyun_address1").val(dataRecord.baiduyun_address);
                              $("#baiduyun_pass1").val(dataRecord.baiduyun_pass);
                              $("#coverphotoid1").val(dataRecord.coverphotoid);
                              $("#id1").val(dataRecord.id);
                              $("#gold_coin1").val(dataRecord.gold_coin);
                              $("#serial_number1").val(dataRecord.serial_number);
                              $("#category1").val(dataRecord.category);
                              // show the popup window.
                              $("#popupWindow").jqxWindow('open');
                          }
                          }
                        ]
                    });
                    // initialize the popup window and buttons.
                    $("#popupWindow").jqxWindow({
                        width: 300, height:350,resizable: false,  isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01           
                    });
                    $("#popupWindow").on('open', function () {
                        $("#id1").jqxInput('selectAll');
                    });
                 
                    $("#Cancel").jqxButton({ theme: theme });
                    $("#Save").jqxButton({ theme: theme });
                    // update the edited row when the user clicks the 'Save' button.
                    $("#Save").click(function () {
                        if (editrow >= 0) {
                            var row = { id: $("#id1").val(), video_name: $("#video_name1").val(), baiduyun_address: $("#baiduyun_address1").val(),
                            			baiduyun_pass: $("#baiduyun_pass1").val(), coverphotoid: $("#coverphotoid1").val(), id: $("#id1").val(),
                            			gold_coin: $("#gold_coin1").val(),serial_number: $("#serial_number1").val(),category: $("#category1").val()
                            			,isvip: $("#isvip1").val(),play_goin: $("#play_goin1").val(),label: $("#label").val()
                           };
                            var rowID = $('#grid').jqxGrid('getrowid', editrow);
                            //更新视频信息
                            $.ajaxSetup({

                                     	async:false

                            });
                            $.ajax({
                                  type: "post",
                                  url: "upVideo",
                                  data: {id: $("#id1").val(), video_name: $("#video_name1").val(), baiduyun_address: $("#baiduyun_address1").val(),
		                          			baiduyun_pass: $("#baiduyun_pass1").val(), coverphotoid: $("#coverphotoid1").val(), id: $("#id1").val(),
		                        			gold_coin: $("#gold_coin1").val(),serial_number: $("#serial_number1").val(),category: $("#category1").val()
                       			  			,flag: 1,isvip: $("#isvip1").val(),play_goin: $("#play_goin1").val()
                                  },
                                  dataType: "json",
                                  success: function(data){
                                     alert(data.result);
                                     $('#grid').jqxGrid('updaterow', rowID, row);
                                     $("#popupWindow").jqxWindow('hide');
                                  }
                           });
                          
                        }
                    });
                }
            });
          
           
            
        });
 
		function getAfter(string){
		    var file1 = $("#fileName").val()
		   
		    //获取文件名+扩展名
			fileName1 = file1.split("\\").pop();
			    //获取带后缀的文件名
			var suffix = getAfter(fileName1);
		//获得文件名的后缀
		    var num=fileName1.lastIndexOf(".");
		    //lastIndexOf()方法返回从右向左出现某个字符或字符串的首个字符索引值（与indexOf相反）
		    var string=fileName1.substring(num+1,obj.length);
		    //substring(start,end)表示从start到end之间的字符串，包前不包后
		    //substr(start,length)表示从start位置开始，截取length长度的字符串。
		    alert(string);
		}

    	
        
        function createWindow() {
            var jqxWidget = $('#jqxWidget');
            var offset = jqxWidget.offset();
            $('#window').jqxWindow({
                position: { x: offset.left + 550, y: offset.top + 50} ,
                showCollapseButton: true,  height: 650, width: 1800,
                initContent: function () {
                   
                    $('#window').jqxWindow('focus');
                }
            });
        };
        
        function uploadFile() {
            var fileName = $('#fileName').val();
            
            $.ajax({
                type: "post",
                url: "fileUpload",
                data: {fileName:fileName},
                dataType: "json",
                success: function(data){
                          // alert(data);
                         }
            });
            
        };
        
        
        //标签查询
        function  lableQuery(){
  	   	 //alert(flag)
  	   	 	 $("#label").empty();
  	   		 $("#label1").empty();
  	   		 $.ajax({
  	               type: "post",
  	               url: "/LabelController/query",
  	               data: {},
  	               dataType: "json",
  	               success: function(data){
  	              	var labelArr = data;
  	              	var labelGroup="";
  	              	var tableContent="";
                      	for(var i=0;i<labelArr.length;i++){
  		              		var id=labelArr[i].id;
  		              		var lable_name=labelArr[i].lable_name;
  		              		var class_flag=labelArr[i].class_flag;
  		              		tableContent += '<option value="'+id+'">'+lable_name+'</option>';
  		                  
  		                }
  	              		labelGroup+=tableContent;
  	              	
  	              	
  	            	
  	              	$("#label").append(labelGroup);
  	          		$("#label1").append(labelGroup);
  	               }
  	            });
  	    }
        
        lableQuery()
        
        /* function getImgURL(evn){
            var file = event.target.files[0];
            alert()
            if (window.FileReader) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                //监听文件读取结束后事件
                reader.onloadend = function (e) {
                   console.log(e.target.result)   //e.target.result就是最后的路径地址
                   alert(e.target.result)
                };
            }
        } */
    </script>
</head>
<body class='default'>
视频管理
 <div id="jqxWidget">
    <div id="grid">
    </div>
    <div style="display:none" id="ww">
    <div style="width: 80%; height: 450px; margin-top: 50px;" id="mainDemoContainer">
            <div id="window">
                <div id="windowHeader">基本信息上传</div>
                <div style="overflow: hidden;" id="windowContent">
                    <form action="fileUpload" method="post" enctype="multipart/form-data">
        					<p>请选择视频的封面: <input type="file" name="fileName" id="fileName" /></p>
        					<p>请输入视频的名称: <input type="text" name="video_name" id="video_name"/></p>
        					<p>请输入视频的地址: <input type="text" name="baiduyun_address" id="baiduyun_address"/></p>
        					<p>请输入视频分享码: <input type="text" name="baiduyun_pass" id="baiduyun_pass"/></p>
        					<p>请输入视频金币数: <input type="text" name="gold_coin" id="gold_coin"/></p>
        					<p>明星姓名: <input type="text" name="gorup_name" id="gorup_name"/></p>
        					<p>请选择视频类别: <select id="category" name="category">
        											<option value="1">女团</option>
        											<option value="2">车模</option>
        											<option value="3">模特</option>
        									</select></p>
        					<p>请选择屏幕类别: <select id="screen_class" name="screen_class">
        											<option value="0">竖屏</option>
        											<option value="1">横屏</option>
        											<option value="2">横竖混合</option>
        									</select></p>
        					<p>视频标签: <select id="label" name="label">
        											
        									</select></p>
        					<!-- 			
        					<p>是否可进行vip点播: <select id="isvip" name="isvip">
        											<option value="0">否</option>
        											<option value="1">是</option>
        									</select></p>
 							<p>是否在线播放: <select id="online_play_flag" name="online_play_flag">
 											<option value="0">否</option>
 											<option value="1">是</option>
 							</select></p>
        					<p>在线播放地址: <input type="text" name="play_address" id="play_address"/></p>	
        					<p>在线点播金币数: <input type="text" name="online_play_coin" id="online_play_coin"/></p>	
        					<p>点播金币数: <input type="text" name="play_goin" id="play_goin"/></p>	
        					 -->					
        					<p><button type="submit">提交</button></p>
    				</form>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div id="popupWindow">
            <div>修改视频信息</div>
            <div style="overflow: hidden;">
                <table>
                	<tr style="display: none">
                        <td align="right">id:</td>
                        <td align="left"><input id="id1" /></td>
                    </tr>
                    <tr>
                        <td align="right">视频的封面:</td>
                        <td align="left"><input id="coverphotoid1" /></td>
                    </tr>
                    <tr>
                        <td align="right">视频的名称:</td>
                        <td align="left"><input id="video_name1" /></td>
                    </tr>
                    <tr>
                        <td align="right">视频的地址:</td>
                        <td align="left"><input id="baiduyun_address1" /></td>
                    </tr>
                    <tr>
                        <td align="right">视频分享码:</td>
                        <td align="left"><input id="baiduyun_pass1"></td>
                    </tr>
                    <tr>
                        <td align="right">视频金币数:</td>
                        <td align="left"><input id="gold_coin1"></td>
                    </tr>
                     <tr>
                        <td align="right">在线播放地址:</td>
                        <td align="left"><input id="play_address"></td>
                         <tr>
                        <td align="right">视频类别:</td>
                        <td align="left">
                        	<div>
                        		<select id="category1" name="category">
        											<option value="1">女团</option>
        											<option value="2">车模</option>
        											<option value="3">模特</option>
        						</select>
                        	</div>
                        </td>
                    </tr>
                    <tr>
                    <p>视频标签: <select id="label1" name="label">
        											
        									</select></p>
                    </tr>
                    <!--  
                    <tr>
                        <td align="right">在线点播金币数:</td>
                        <td align="left"><input id="online_play_coin"></td>
                    </tr>
                    <tr>
                        <td align="right">视频编号:</td>
                        <td align="left"><input id="serial_number1"></td>
                    </tr>
                    
                    <tr>
                        <td align="right">是否是vip点播:</td>
                        <td align="left">
                        <div>
                        					<select id="isvip1" >
        											<option value="0">否</option>
        											<option value="1">是</option>
        									</select>
        									</div>
        				</td>
        				</tr>
        			<tr>
                        <td align="right">是否能在线播放:</td>
                        <td align="left">
                        <div>
                        					<select id="online_play_flag" >
        											<option value="0">否</option>
        											<option value="1">是</option>
        									</select>
        									</div>
        				</td>
        			</tr>
        				<tr>
        				<td align="right">金币点播数:</td>
                        <td align="left"><input type="text"  id="play_goin1"/></td>
                    </tr>
                   -->
                    <tr>
                        <td align="right"></td>
                        <td style="padding-top: 10px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" value="Cancel" /></td>
                    </tr>
                </table>
            </div>
     </div>
    <!-- 
    <div id="popupWindow">
            <div>缩略图管理</div>
            <div style="overflow: hidden;" id="frame">
           
			<iframe width='1300' height='600' src='/thumbnailManage' scrolling='no' hspace='-100' vspace='-150'></iframe>

            </div>
       </div>
     -->
 </div>   
</body>
</html>